
body, html {
  height: 100%;
}

.container {
  height: 100%;
}

.search-field {
  padding: 10px;
  margin: 10px;
}
.search-bar {
  height: 30%;
  
  text-align: center;
  padding: 47px;
}

.client-medicine {
  width: 50%;

}

.all-medicine {
  width: 50%;

}

#app {
  height: 100%;

}
